WEB_DOMAIN=reschool.app
TURN_PUBLIC_IP=
BROWSER_TURN_URLS=turn:reschool.app:3478?transport=tcp,turn:reschool.app:3478?transport=udp
# секрет генерируем командой openssl rand с параметром hex и длиной 32 байта
BROWSER_TURN_SECRET=
